@model BiblioTecha.Models.BookDetailsViewModel


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Details</h1>

@if (Model.File != null)
{
    <a href="@Url.Action("Download", "File", new { id = Model.File.Id})">@Model.File.Name</a>
    <button class="btn btn-outline-danger" onclick="confirmDelete(@Model.File.Id)">Delete</button>
    <form id="delete-form-@Model.File.Id" method="post" action="@Url.Action("Delete", "File", new { fileId = Model.File.Id })">
   </form>
}
else
{
    <p>No files</p>
    @if (User.IsInRole("Teacher"))
    {
        <form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="File" asp-route-bookId="@Model.Book.Id">
            <div class="form-group drop-zone">

                <input type="file" id="file" name="file" onchange="updateText()" class="custom-file-input" style="display:none" />
                <label class="custom-file-label" for="file" style="display:none">Choose file</label>
                <div id="drop-area">
                    <p id="textChange">Drag and drop a file here or click to choose a file.</p>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary mt-3 col-12" id="uploadButton" disabled>Upload</button>
                </div>

            </div>
        </form>
    }
  
}


<script>
    function confirmDelete(id) {
        if (confirm("Are you sure you want to delete this file?")) {
            document.getElementById("delete-form-" + id).submit();
        }
    }
</script>

<div>
    <h4>BookModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd class = "col-sm-10">
            
        <a asp-controller="Author" asp-action="Details" asp-route-id="@Model?.Author.Id" asp-route-bookId="@Model?.Book.Id">
            @Html.DisplayFor(model => model.Author.Name)
            </a>
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorCode)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre)
        </dd>
      
    </dl>
</div>

<img src="@Model.Book.ImageLink" width="400px" height="400px"/>
<br/>
@if (Model.Book.Available == 0)
{
    <font color="grey">Not available for reservation</font>
}
else
{
    <a asp-action="Reserve" asp-route-id="@Model?.Book.Id">Reserve</a>
}

<div>
   
     @if (User.IsInRole("Teacher")) //
    {
        <a asp-action="Edit" asp-route-id="@Model?.Book.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>


