@model IEnumerable<BiblioTecha.Models.BookModel>

@{
    ViewData["Title"] = "Homepage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h1>Books List</h1>
<p>Please select "Details" for more information about a specific book, or select a genre already present in the database:</p>

<p>
    @if (User.IsInRole("Teacher")) //
    {
        <a class="btn btn-success" asp-action="Create">Add a new book</a>
    }
</p>
</center>
<div class="my-div">
    <h2> Browse by genre:</h2>
    @foreach (var genre in ViewBag.Genres)
    {
        <a  style="text-decoration:none" class="btn btn-primary col-12 mt-1" asp-action="Genre" asp-controller="BookModels" asp-route-gen="@genre">@genre</a> <br />
    }

</div>
<div style="width: 76%; height:40%;  float:right;">

<div class="wrapper">
@foreach (var item in Model)
{
   
        <div class="card">
            <img src="@item.ImageLink">
            <div class="descriptions">
            <a style="text-decoration:none" class="btn btn-info align-content-center col-12" asp-action="Details" asp-route-id="@item.Id">
                Details
            </a>

            @if (User.IsInRole("Teacher")) //
            {
                    <a class="btn btn-secondary align-content-center col-12" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger align-content-center col-12" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            }
            <h1>@item.Title</h1>
            <p>@item.Description</p>
                   
            </div>
                    
        </div>
              
}


</div>

</div>


